<a href="https://colab.research.google.com/github/elianramon/Machine_Learning_AvaBootcamp_2026.1/blob/main/ATV_02_AVA_BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Escreva uma função que receba uma lista de números e retorne outra lista
com os números ímpares.
2. Escreva uma função que receba uma lista de números e retorne outra lista
com os números primos presentes.
3. Escreva uma função que receba duas listas e retorne outra lista com os
elementos que estão presentes em apenas uma das listas.
4. Dada uma lista de números inteiros, escreva uma função para encontrar o
segundo maior valor na lista.
5. Crie uma função que receba uma lista de tuplas, cada uma contendo o
nome e a idade de uma pessoa, e retorne a lista ordenada pelo nome das
pessoas em ordem alfabética.
6. Como identificar e tratar outliers em uma coluna numérica usando desvio
padrão ou quartis?
7. Como concatenar vários DataFrames (empilhando linhas ou colunas),
mesmo que tenham colunas diferentes?
Dica: Utiliza-se pd.concat() especificando axis=0 (linhas) ou axis=1
(colunas). Quando há colunas diferentes, os valores ausentes são
preenchidos com NaN.
8. Utilizando pandas, como realizar a leitura de um arquivo CSV em um
DataFrame e exibir as primeiras linhas?
9. Utilizando pandas, como selecionar uma coluna específica e filtrar linhas
em um “DataFrame” com base em uma condição?
10. Utilizando pandas, como lidar com valores ausentes (NaN) em um
DataFrame?

# 1

Escreva uma função que receba uma lista de números e retorne outra lista com os números ímpares.

In [3]:
def get_odd_numbers(numbers):
    odd_numbers = []
    for num in numbers:
        if num % 2 != 0:  # Verifica se o número é ímpar
            odd_numbers.append(num)
    return odd_numbers

# Exemplo de uso:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = get_odd_numbers(my_list)

print(f"Lista original: {my_list}")
print(f"Números ímpares: {result}")

Lista original: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Números ímpares: [1, 3, 5, 7, 9]

# 2

Escreva uma função que receba uma lista de números e retorne outra lista com os números primos presentes.

In [4]:
def eh_primo(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):  # Matematicamente, se um número n tem um divisor, pelo menos um desses divisores deve ser menor ou igual à raiz quadrada de n
        if n % i == 0:
            return False
    return True

def filtrar_primos(lista_numeros):
    primos = [num for num in lista_numeros if eh_primo(num)]
    return primos

# Exemplo de uso:
minha_lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 20]
resultado = filtrar_primos(minha_lista)

print(f"Números primos encontrados: {resultado}")

Números primos encontrados: [2, 3, 5, 7, 11, 13, 17]

# 3

Escreva uma função que receba duas listas e retorne outra lista com os elementos que estão presentes em apenas uma das listas.

In [5]:
def elementos_unicos(lista1, lista2):
    # Convertemos para set, aplicamos a diferença simétrica e voltamos para lista
    resultado = list(set(lista1) ^ set(lista2))
    return resultado

# Teste
l1 = [1, 2, 3, 4]
l2 = [3, 4, 5, 6]
print(f"Elementos exclusivos: {elementos_unicos(l1, l2)}")

Elementos exclusivos: [1, 2, 5, 6]

# 4

Dada uma lista de números inteiros, escreva uma função para encontrar o segundo maior valor na lista.

In [10]:
def segundo_maior_simples(lista):
    lista_unica = sorted(set(lista))
    if len(lista_unica) < 2: # Lista de 1 valor apenas
        return None
    return lista_unica[-2] # O índice -2 pega o segundo elemento de trás para frente

# Teste
numeros = [10, 20, 4, 45, 99, 98, 30]
print(f"O segundo maior é: {segundo_maior_simples(numeros)}")

O segundo maior é: 98

# 5

Crie uma função que receba uma lista de tuplas, cada uma contendo o nome e a idade de uma pessoa, e retorne a lista ordenada pelo nome das pessoas em ordem alfabética.

In [11]:
def ordenar_por_nome(lista_pessoas):
    return sorted(lista_pessoas, key=lambda pessoa: pessoa[0])

# Exemplo de uso:
pessoas = [("Tiago", 30), ("Ana", 25), ("Beto", 22), ("Carla", 28)]
resultado = ordenar_por_nome(pessoas)

print(resultado)

[('Ana', 25), ('Beto', 22), ('Carla', 28), ('Tiago', 30)]

# 6

Como identificar e tratar outliers em uma coluna numérica usando desvio padrão ou quartis?

In [13]:
def tratar_outliers_iqr(dados):
    # Ordenamos os dados para calcular os quartis
    dados_ordenados = sorted(dados)

    # Calculando Q1 (25%) e Q3 (75%)
    n = len(dados_ordenados)
    q1 = dados_ordenados[int(n * 0.25)]
    q3 = dados_ordenados[int(n * 0.75)]

    iqr = q3 - q1
    limite_inferior = q1 - (1.5 * iqr)
    limite_superior = q3 + (1.5 * iqr)

    # Identificando outliers
    outliers = [x for x in dados if x < limite_inferior or x > limite_superior]
    # Filtrando (limpando) os dados
    dados_limpos = [x for x in dados if limite_inferior <= x <= limite_superior]

    return dados_limpos, outliers

# Exemplo
valores = [10, 12, 12, 13, 12, 11, 14, 13, 100, 12, 10, 2] # 100 e 2 são suspeitos
limpos, detectados = tratar_outliers_iqr(valores)
print(f"Outliers: {detectados}")

Outliers: [100, 2]

# 7

Como concatenar vários DataFrames (empilhando linhas ou colunas), mesmo que tenham colunas diferentes? Dica: Utiliza-se pd.concat() especificando axis=0 (linhas) ou axis=1 (colunas). Quando há colunas diferentes, os valores ausentes são preenchidos com NaN.

In [14]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'C': [7, 8]})

# axis=0 é o padrão
resultado_linhas = pd.concat([df1, df2], axis=0, ignore_index=True)

print(resultado_linhas)

   A    B    C
0  1  3.0  NaN
1  2  4.0  NaN
2  5  NaN  7.0
3  6  NaN  8.0

# 8

Utilizando pandas, como realizar a leitura de um arquivo CSV em um DataFrame e exibir as primeiras linhas?

In [16]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
loja = pd.read_csv(url)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

# 9

Utilizando pandas, como selecionar uma coluna específica e filtrar linhas em um “DataFrame” com base em uma condição?

In [17]:
import pandas as pd

# 1. Criando um DataFrame de exemplo
dados = {
    'Nome': ['Ana', 'Beto', 'Carla', 'Daniel', 'Eva', 'Fabio'],
    'Idade': [23, 17, 35, 15, 29, 42],
    'Cidade': ['São Paulo', 'Rio', 'São Paulo', 'Curitiba', 'Rio', 'São Paulo'],
    'Saldo': [2500, 100, 5000, 50, 1200, 8000]
}

df = pd.DataFrame(dados)

print("--- DataFrame Original ---")
print(df)
print("\n")

# 2. Selecionando uma coluna específica
# Retorna uma Series (coluna isolada)
nomes = df['Nome']
print("--- Apenas a coluna 'Nome' ---")
print(nomes.to_list())
print("\n")

# 3. Filtrando linhas com uma condição
# Exemplo: Apenas pessoas com mais de 18 anos
maiores_idade = df[df['Idade'] > 18]

print("--- Pessoas Maiores de 18 Anos ---")
print(maiores_idade)
print("\n")

# 4. Filtrando com múltiplas condições
# Exemplo: Pessoas de 'São Paulo' COM Saldo maior que 3000
# Nota: O símbolo '&' significa 'E', e os parênteses são obrigatórios
filtro_especifico = df[(df['Cidade'] == 'São Paulo') & (df['Saldo'] > 3000)]

print("--- Clientes de SP com Saldo > 3000 ---")
print(filtro_especifico)

--- DataFrame Original ---
     Nome  Idade     Cidade  Saldo
0     Ana     23  São Paulo   2500
1    Beto     17        Rio    100
2   Carla     35  São Paulo   5000
3  Daniel     15   Curitiba     50
4     Eva     29        Rio   1200
5   Fabio     42  São Paulo   8000


--- Apenas a coluna 'Nome' ---
['Ana', 'Beto', 'Carla', 'Daniel', 'Eva', 'Fabio']


--- Pessoas Maiores de 18 Anos ---
    Nome  Idade     Cidade  Saldo
0    Ana     23  São Paulo   2500
2  Carla     35  São Paulo   5000
4    Eva     29        Rio   1200
5  Fabio     42  São Paulo   8000


--- Clientes de SP com Saldo > 3000 ---
    Nome  Idade     Cidade  Saldo
2  Carla     35  São Paulo   5000
5  Fabio     42  São Paulo   8000

# 10

Utilizando pandas, como lidar com valores ausentes (NaN) em um DataFrame?

In [18]:
import pandas as pd
import numpy as np

# 1. Criando um DataFrame com valores nulos (NaN)
dados = {
    'Produto': ['Teclado', 'Mouse', 'Monitor', 'Mousepad', 'Headset'],
    'Preco': [150.0, np.nan, 1200.0, np.nan, 350.0],
    'Estoque': [20, 15, np.nan, 5, 10],
    'Categoria': ['Periféricos', 'Periféricos', 'Monitores', None, 'Áudio']
}

df = pd.DataFrame(dados)

print("--- DataFrame com Valores Ausentes (Original) ---")
print(df)
print("\n" + "-"*50 + "\n")

# 2. Identificando valores nulos
print("Quantidade de nulos por coluna:")
print(df.isnull().sum())
print("\n")

# 3. Estratégia A: Remover linhas que contenham QUALQUER valor nulo
df_sem_nulos = df.dropna()
print("--- DataFrame após dropna() (Linhas com NaN removidas) ---")
print(df_sem_nulos)
print("\n")

# 4. Estratégia B: Preencher com um valor fixo (ex: Zero)
df_preenchido_zero = df.copy()
df_preenchido_zero['Preco'] = df_preenchido_zero['Preco'].fillna(0)
print("--- Coluna 'Preco' preenchida com 0 ---")
print(df_preenchido_zero[['Produto', 'Preco']])
print("\n")

# 5. Estratégia C: Preencher com a Média (Estatística)
# Ideal para não distorcer tanto as análises financeiras
media_preco = df['Preco'].mean()
df['Preco'] = df['Preco'].fillna(media_preco)

# 6. Estratégia D: Preencher com o valor mais frequente (Moda)
# Ideal para colunas de texto (Categoria)
moda_categoria = df['Categoria'].mode()[0]
df['Categoria'] = df['Categoria'].fillna(moda_categoria)

print("--- DataFrame Final (Preenchido com Média e Moda) ---")
print(df)

--- DataFrame com Valores Ausentes (Original) ---
    Produto   Preco  Estoque    Categoria
0   Teclado   150.0     20.0  Periféricos
1     Mouse     NaN     15.0  Periféricos
2   Monitor  1200.0      NaN    Monitores
3  Mousepad     NaN      5.0         None
4   Headset   350.0     10.0        Áudio

--------------------------------------------------

Quantidade de nulos por coluna:
Produto      0
Preco        2
Estoque      1
Categoria    1
dtype: int64


--- DataFrame após dropna() (Linhas com NaN removidas) ---
   Produto  Preco  Estoque    Categoria
0  Teclado  150.0     20.0  Periféricos
4  Headset  350.0     10.0        Áudio


--- Coluna 'Preco' preenchida com 0 ---
    Produto   Preco
0   Teclado   150.0
1     Mouse     0.0
2   Monitor  1200.0
3  Mousepad     0.0
4   Headset   350.0


--- DataFrame Final (Preenchido com Média e Moda) ---
    Produto        Preco  Estoque    Categoria
0   Teclado   150.000000     20.0  Periféricos
1     Mouse   566.666667     15.0  Periféricos
2   Monitor  1200.000000      NaN    Monitores
3  Mousepad   566.666667      5.0  Periféricos
4   Headset   350.000000     10.0        Áudio